{% extends 'home.html' %}
<head>

    {% block title %}basket{% endblock %}
</head>
{% block content %}
<div class="basketbg">
    <div class="basketitem">
        <h1 style="text-align: center; margin-bottom: 40px;">Замовлення</h1>
        

        <div class="item" style="display: flex; border: 2px solid #000; padding: 0; margin: 0 0 20px;" >
            <div class="basketimg">
                <a href=""><img src="{{url_for('static', filename='img/2.jpg')}}" alt="Photo" class="basketimg"></a>
            </div>
            <div>
                <a href="/"><h4 class="textitem">asdfasdfasdfasfsadfsadfsadfasfasfsaf</h4></a>
            </div>
            <div class="counter">
                <h2>Кількість:</h2>
                <div style="display: flex; justify-content: center;">
                    <button class="decrement counterbutton">-</button>
                    <input type="number" class="counter-value" style="width: 40px; margin: 0 10px;" value="1">
                    <button class="increment counterbutton">+</button>
                </div>
                <h2>Ціна:</h2>
                <div style="display: flex; justify-content: center; font-size: 35px;">
                    <span class="totalPrice" style="margin: 0 10px;">200</span>
                    <p>грн</p>
                </div>
            </div>
        </div>
        
        <div class="item" style="display: flex; border: 2px solid #000; padding: 0; margin: 0 0 20px;" >
            <div class="basketimg">
                <a href=""><img src="{{url_for('static', filename='img/3.jpg')}}" alt="Photo" class="basketimg"></a>
            </div>
            <div>
                <a href="/"><h4 class="textitem">Тaasdfasfasdfsadfsafsadfasdfasf</h4></a>
            </div>
            <div class="counter">
                <h2>Кількість:</h2>
                <div style="display: flex; justify-content: center;">
                    <button class="decrement counterbutton">-</button>
                    <input type="number" class="counter-value" style="width: 40px; margin: 0 10px;" value="1">
                    <button class="increment counterbutton">+</button>
                </div>
                <h2>Ціна:</h2>
                <div style="display: flex; justify-content: center; font-size: 35px;">
                    <span class="totalPrice" style="margin: 0 10px;">397.99</span>
                    <p>грн</p>
                </div>
            </div>
        </div>



        <div style="padding-bottom: 10px; margin-bottom: 10px; background-color: green;">
            <h1 style="text-align: center;">Доставка</h1>
            <label style="margin: 10px 50px 10px; font-size: 40px;">
                <input type="radio" name="option" value="shop" onclick="toggleSelect('shopSelect')"> У наш магазин <br>
            </label> <br>
            <div id="shopSelect" class="selectField">
                <h2 style="text-align: center;">Виберіть наше відділення:</h2>
                <div style="display: grid; justify-content: center; padding-bottom: 30px;">
                    <select id="shop" style="width: 500px; font-size: 20px;">
                        <option value="">Оберіть товар</option>
                        <option value="product1">Товар 1</option>
                        <option value="product2">Товар 2</option>
                    </select>
                </div>
            </div>

            <label style="margin: 10px 50px 10px; font-size: 40px;">
                <input type="radio" name="option" value="nova_poshta" onclick="toggleSelect('novaPoshtaSelect')"> У відділення нової пошти <br>
            </label> <br>
            <div id="novaPoshtaSelect" class="selectField">
                <h2 style="text-align: center;">Виберіть відділення нової почти:</h2>
                <div style="display: grid; justify-content: center; padding-bottom: 30px;">
                    <select id="novaPoshta" style="width: 500px; font-size: 20px;">
                        <option value="">Оберіть відділення</option>
                        <option value="branch1">Відділення 1</option>
                        <option value="branch2">Відділення 2</option>
                    </select>
                </div>
            </div>

            <label style="margin: 10px 50px 10px; font-size: 40px;">
                <input type="radio" name="option" value="self_pickup" onclick="toggleSelect('selfPickupSelect')"> Курєром <br>
            </label>
            <div id="selfPickupSelect" class="selectField">
                <h2 style="text-align: center;">Введіть вашу адресу</h2>
                <div style="display: grid; justify-content: center;">
                    <label for="selfPickup"></label>
                    
                    <div style="display: flex;">
                        <h5>Область: </h5><input type="text" name="" id="" style="margin-left: 89px;">
                    </div>
                    <div style="display: flex;">
                        <h5>Місто: </h5><input type="text" name="" id="" style="margin-left: 113px;">
                    </div>
                    <div style="display: flex;">
                        <h5>Адреса: </h5><input type="text" name="" id="" style="margin-left: 98px;">
                    </div>
                    <div style="display: flex;">
                        <h5>Номер будинку: </h5><input type="number" name="" id="" style="margin-left: 20px;">
                    </div>
                </div>
            </div>
        </div>



        <div>
            <h1 style="text-align: center;">Контактна інформація</h1>
            <div style="display: flex; justify-content: space-around;">
                <div>
                    <h6>Призвіще</h6>
                    <input type="text" style="width: 250px; height: 35px; border-radius: 7px;">
                    <h6>Ім'я</h6>
                    <input type="text" style="width: 250px; height: 35px; border-radius: 7px;">
                </div>
                
                <div>
                    <h6>Електрона адреса</h6>
                    <input type="email" style="width: 250px; height: 35px; border-radius: 7px;">
                    <h6>Номер телефону</h6>
                    <input type="text" id="phone" style="width: 250px; height: 35px; border-radius: 7px;">
                </div>
            </div>
        </div>
    </div>
    
    
    

    <div class="basketbuy">
        <h2>До оплати</h2>
        <div style="display: flex; justify-content: center; font-size: 35px;">
        <span id="grandTotal" style="margin: 0 10px;">0.00</span>
        <p>грн</p>
        </div>
        <div>
            <h2>Промокод</h2>
            <input type="text" style="width: 250px; height: 35px; border-radius: 7px;">
        </div>

        <div style="display: flex; justify-content: center; margin-top: 60px;">
            <button style="font-size: 35px;" class="buttonregistr">Підтвердити замовлення</button>
        </div>
        
        
    </div>
</div>
<script rel="stylesheet" src="{{url_for('static', filename='js/basket.js' )}}"></Script>
{% endblock %}