<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %}home{% endblock %}</title>
</head>
<body>
    <header>
        <nav id="header">
            <div class="navbar">
                <div class="logohref">
                    <a href="/" style="text-decoration: none;"><h1>BuildPC</h1></a>
                </div>
                <div class="buttons">
                    <ul id="ul">
                        <li id="li">
                            <a href="/basket"><img src="{{ url_for('static', filename='img/basket.png') }}" style="width: 40px; height: 40px; margin-top: 5px;"></a>
                        </li>
                        <li id="li">
                            <a href="/like"><img src="{{ url_for('static', filename='img/like.png') }}" style="width: 50px; height: 50px;"></a>
                        </li>
                        {% if 'user_id' in session %}
                            {% if session.get('is_admin') %}
                                <li id="li">
                                    <a href="/admin"><button class="buttonregistr" style="height: 50px;">ADMIN</button></a>
                                </li>
                            {% endif %}
                            <li id="li">
                                <a href="/accaunt"><button class="buttonregistr" style="width: 70px; height: 50px;"><img src="{{ url_for('static', filename='img/accaunt.png') }}" style="width: 50px; height: 50px;"></button></a>
                            </li>
                        {% else %}
                            <li id="li">
                                <a href="/login"><button class="buttonregistr" style="width: 70px; height: 50px;">Login</button></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main >

            <div style="height: 50px; z-index: 1000; position: absolute; left: 50%; transform: translate(-50%, -50%); padding-top: 150px;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <div class="flash_message"><h4>{{ message }}</h4></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
        
        {% block content %}
        <div>
            
            
            <section class="mainphoto" style="background-image: url('{{url_for('static', filename='img/siteimg/program-15.jpg')}}');">
                <div>
                    <h1 class="top" style="font-size: 70px;">BuildPC</h1>
                    <p style="color: #FFFAF0; font-size: 30px; width: 800px;">твій надійний шлях до ідеального ПК! Обирай, замовляй, збирай – усе для твоїх потреб в одному місці.</p>
                    <button onclick="scrollToSection('target-section')" class="buttonregistr" style="margin: 30px 41%;">Перейти товарів</button>
                </div>
                
                
                
            </section>
            <section>
                <div style="background: linear-gradient(to bottom, #000000, #2e2e2e); margin-bottom: 40px; padding-top: 20px; text-align: center;">
                    <p style="color: #FFFAF0; font-size: 30px;">Чому обирають нас?<br>

                        Широкий асортимент. У нас ви знайдете все: від процесорів і відеокарт до блоків живлення та корпусів. <br>
                        Якість і гарантія. Пропонуємо тільки сертифіковану продукцію з офіційною гарантією. <br> 
                        Підтримка клієнтів. Наша команда готова допомогти з вибором компонентів та відповісти на всі ваші запитання. <br>
                        Швидка доставка. Забезпечуємо зручні умови доставки по всій країні.</p>
                </div>
            </section>
            <div style="max-width: 1400px; margin: 0 auto;">

            
                <section style="margin-bottom: 80px;">
                    <h1 style="text-align: center;">Наші новинки</h1>
                    <div style="display: flex; margin: 0 auto; max-width: 1000px;">
                        <button class="buttonregistr" style="margin: auto 10px; padding: 10px 16px" onclick="changeSlide(-1)">&lt;</button>
                        <div class="slider-container">
                            <div class="slide active">
                                <img src="{{ url_for('static', filename='img/5_5600x.png') }}" alt="Слайд 1">
                            </div>
                            <div class="slide">
                                <img src="{{ url_for('static', filename='img/9_14900ks.png') }}" alt="Слайд 2">
                            </div>
                            <div class="slide">
                                <img src="{{ url_for('static', filename='img/kingstin_16gb.png') }}" alt="Слайд 3">
                            </div>
                        </div>
                        <button class="buttonregistr" style="margin: auto 10px; padding: 10px 16px" onclick="changeSlide(1)">&gt;</button>
                    </div>
                </section>
                
                <section>
                    <div>
                        <div id="target-section">
                            <div style="background-color: #7d4d10a1; padding: 20px 20px; border-radius: 20px;">
                                <div style="display: flex; flex-wrap: wrap;">
                                    {% for product in products %}
                                        <div class="items">
                                            <a href="{{ url_for('home.item', item_id=product['id']) }}">
                                                <img src="{{ url_for('static', filename=product['main_img']) }}" alt="{{ product['name_product'] }}" style="width: 317px; height: 266px; border-radius: 20px 20px 0 0;">
                                            </a>
                                            <a href="{{ url_for('home.item', item_id=product['id']) }}" style="text-decoration: none;"><h1 style="font-size: 18px;">{{ product['name_product'] }}</h1></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Пагінація -->
                <div style="text-align: center; margin-top: 20px;" class="pagination">
                    {% if page > 1 %}
                        <a href="{{ url_for('home.main', page=page-1) }}" class="buttonregistr">Попередня</a>
                    {% endif %}
                    
                    {% for p in range(1, total_pages + 1) %}
                        {% if p == page %}
                            <span class="btn btn-secondary disabled">{{ p }}</span>
                        {% else %}
                            <a href="{{ url_for('home.main', page=p) }}" class="btn btn-primary">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page < total_pages %}
                        <a href="{{ url_for('home.main', page=page+1) }}" class="buttonregistr">Наступна</a>
                    {% endif %}
                </div>
            </div>

        {% endblock %}
    </main>
    
    <script>
        setTimeout(function() {
            const flashMessages = document.querySelector('.flash-messages');
            if (flashMessages) {
                flashMessages.style.display = 'none';
            }
        }, 3000);

        let slideIndex = 0;
        const slides = document.getElementsByClassName("slide");
        showSlide(slideIndex);

        function changeSlide(n) {
            showSlide(slideIndex += n);
        }

        function showSlide(n) {
            if (n >= slides.length) {
                slideIndex = 0;
            } else if (n < 0) {
                slideIndex = slides.length - 1;
            }

            for (let i = 0; i < slides.length; i++) {
                slides[i].classList.remove("active");
            }

            slides[slideIndex].classList.add("active");
        }

        setInterval(() => {
            changeSlide(1);
        }, 5000);




        function scrollToSection(sectionId) {
        document.getElementById(sectionId).scrollIntoView({
            behavior: 'smooth'  // плавне прокручування
        });
    }
    </script>
    
    <script rel="stylesheet" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <footer>
        <div style="margin-top: 0px;">
            <h1 class="footerinfo">its pidval</h1>
        </div>
    </footer>
</body>
</html>
