{% extends 'home.html' %}
<head>
    {% block title %}{% endblock %}
</head>
{% block content %}
<div class="item">
    <div class="itembg" style="padding-top: 20px;">
        <div style="margin: 0 auto; max-width: 600px;">
            <div class="itemimg">
                <img src="{{ url_for('static', filename=item.main_img) }}" alt="" style="width: 600px;">
            </div>
        </div>
        <div>
            <h1 style="text-align: center;">{{ item.name_product }}</h1>
            <div style="display: flex; max-width: 1000px; margin: 0 auto;">
                <div class="itemtext" style="width: 700px;">
                    <h2>{{ item.info_for_product }}</h2>
                </div>
                <div style="background-color: #3a3b3df2; margin-left: 20px; width: 300px; height: 140px; border-radius: 20px; padding: 10px;">
                    <div style="display: flex;">
                        <h3 style="font-size: 40px; margin-left: 6px;">Ціна: </h3>
                        <p style="align-content: center; font-size: 30px; font-weight: 700; margin: 10px auto 0;"><h1> {{ item.price }}</h1></p>
                    </div>
                    <div style="display: flex; justify-content: space-evenly; margin-top: 20px;">
                        <form action="{{ url_for('basket_bp.add_to_basket', item_id=item.id) }}" method="post">
                            <button type="submit" class="buttonregistr" style="font-size: 25px; width: 160px;">
                                <img src="{{ url_for('static', filename='img/basket.png') }}" style="width: 30px; height: 30px;"> Купити
                            </button>
                        </form>
                        <form action="{{ url_for('like_bp.add_to_like', item_id=item.id) }}" method="post">
                            <button type="submit" class="buttonregistr">
                                <img src="{{ url_for('static', filename='img/like.png') }}" style="width: 40px; height: 38px;">
                            </button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="itembutton">
                <button class="buttonregistr" onclick="reviews()">Відгуки</button>
                <button class="buttonregistr" onclick="question()">Запитання</button>
                <button class="buttonregistr" onclick="info()">Про продавця</button>
            </div>
            <div style="margin: 10px 200px;">
                <div id="visible1">
                    <div class="reviews">
                        <p>dasdasd</p>
                    </div>
                </div>
                
                <div id="visible2">
                    <div class="question">
                        <p>dgjhjghfj</p>
                    </div>
                </div>
                
                <div id="visible3">
                    <div class="info">
                        <p>wetrhrthrt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/item.js') }}"></script>
{% endblock %}
