{% extends 'home.html' %}
<head>
    <script rel="stylesheet" src="{{url_for('static', filename='js/main.js' )}}"></script>
    {% block title %}like{% endblock %}
</head>

{% block content %}
<div style="padding-top: 150px;">
    <h1 class="centertext" style="color: black;">Список вподобань</h1>
</div>
<div class="bgofpage">
    
    <div class="list">

        <div class="list">
            {% for item in items %}
            <div class="likeitem">
                <a href="{{url_for('home.item', item_id=item.id)}}">
                    <img src="{{ url_for('static', filename=item.main_img) }}" alt="{{ item.name_product }}" class="likeimg">
                </a>
                <div class="bottominfo">
                    <h1 style="font-size: 18px;">{{ item.name_product }}</h1>
                    <h3>{{ item.price }} грн</h3>
                    <form method="POST" action="{{url_for('like_bp.remove_from_like', item_id=item.id)}}">
                        <button type="submit" class="buttonregistr" style="padding: 3px 15px 0; width: 200px; margin-left: 10px;"><h6>Видалити предмет</h6></button>
                    </form>
                </div>
            </div>
            {% else %}
                <p style="font-size: 30px; margin: 0 auto 10px;">Немає товарів у вподобаннях.</p>
            {% endfor %}
        </div>      
    </div>
</div>
{% endblock %}
