{% extends 'home.html' %}
<head>
    <script rel="stylesheet" src="{{url_for('static', filename='js/main.js' )}}"></script>
    {% block title %}like{% endblock %}
</head>

{% block content %}
<div class="bgofpage">
    <h1 class="centertext">Списки вподобань</h1>
    <div class="list">
        <h1 style="flex: 1; text-align: center;">Список</h1> 
        <div class="list">
            {% for item in items %}
            <div class="likeitem">
                <a href="{{url_for('home.item', item_id=item.id)}}">
                    <img src="{{ url_for('static', filename=item.main_img) }}" alt="{{ item.name_product }}" class="likeimg">
                </a>
                <div class="bottominfo">
                    <h1>{{ item.name_product }}</h1>
                    <h3>{{ item.price }} грн</h3>
                    <form method="POST" action="{{url_for('like_bp.remove_from_like', item_id=item.id)}}">
                        <button type="submit" class="buttonregistr">Видалити предмет</button>
                    </form>
                </div>
            </div>
            {% else %}
                <p>Немає товарів у вподобаннях.</p>
            {% endfor %}
        </div>      
    </div>
</div>
{% endblock %}
