.flash-messages{
    background-color: #7d4e10c9;
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
    border-radius: 20px;
    border-color: #a19898;
    border-width: 5px;
    border-style: solid;
}
.flash_message{
    margin: 5px 10px;
    font-size: 20px;
    font-weight: 700;
}



/*header*/
#header{
    padding: 0px 15px 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


#ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin: 5px 0px;

    
}

#li{
    
    margin-left: 20px;
    border-radius: 5px;

}

.navbar{
    display: flex;
    background-color: #728ba0;
    padding: 5px;
}

.logohref{
    flex: 1;
    padding: 0px 15px;
}

.buttons{
    flex: 5;
    padding: 0px 15px;
}
.alogo{
    width: 50px;
    height: 50px;
}
/*headerend*/

.top{
    text-align: center;
}
/*slider*/

.slider-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-radius: 10px;
}

/* Кожен слайд */
.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.active {
    opacity: 1;
    z-index: 1;
}

/* Кнопки перемикання */
.button-container {
    display: flex;
    margin: 10px;
}

.slider-button:hover {
    background-color: #555;
}

/* Додаємо клас 'active' для відображення активного слайда з плавним переходом */
.active {
    display: block;
    opacity: 1;
}

/*sliderend*/

/*main*/
main{
    /* height: auto;  */
    background-color: #e8e8e8;
    min-height: 100vh;
}
#bottompage{
    padding-top: 100px;
    padding-bottom: 300px;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFAF0; /* Колір для всіх заголовків */
}
p{
    margin-bottom: 0;
    color: black;
}
/*mainend*/





/*footer*/
footer{
    bottom: 0px;
    background-color: #2C2F48;
    width: 100%;
    height: 200px;
}
.centertext{
    text-align: center;
}
footer{
    margin-top: 0;
}
.footerinfo{
    color: #B8B4E9;
}
/*footerend*/






/*likestart*/

.bgofpage{
    background-color: #7d4d10a1;
    border-radius: 20px;
    max-width: 1400px;
    margin: 3% auto;
    height: auto;
    padding-top: 15px;
}
.list{
    border-radius: 20px;
    width: 92%;
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    height: auto;
}
#myBlock {
    width: 92%;
    height: 0px;
    margin-left: 4%;
    border-radius: 20px;
    background-color: #201f1f;
    transition: all 0.3s; /* Додаємо плавний перехід */
}


.visible{
    background: none; 
    border: none;
    display: none;
}
.modal {
    display: none; /* Сховати за замовчуванням */
    position: fixed; /* Залишити вікно на одному місці */
    left: 0;
    top: 0;
    width: 100%; /* Повна ширина */
    height: 100%; /* Повна висота */
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
    justify-content: center; /* Центрування по горизонталі */
    align-items: center; /* Центрування по вертикалі */
    z-index: 1000; /* Відправити на передній план */
}
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Ширина модального вікна */
    text-align: center; /* Центрувати текст */
    position: relative; /* Для позиціонування кнопки закриття */
}
.close {
    cursor: pointer;
    color: red; /* Колір для кнопки закриття */
    font-weight: bold;
    position: absolute; /* Позиціюємо кнопку закриття */
    top: 10px; /* Відступ зверху */
    right: 15px; /* Відступ справа */
}

.likeitem{
    /* margin-right: 26px; */
    width: 21%;
    height: auto;
    margin: 5px 20px 10px;
    border-radius: 20px;
    border: 3px solid #0d0d0d87;
    background-color: #ddb07257;
    
}
.bottominfo{
    text-align: center;
    height: auto;
    border-radius: 0 0 20px 20px;
    padding-bottom: 5px;

}
.likeimg{
    margin: 0 auto;
    width: 100%;
    height: 210px;
    border-radius: 20px 20px 0 0;
}

/*registrstart*/
.registr{
    width: 600px;
    height: 550px;
    margin: 3% auto;
    background-color: #7d4d10a1;
    border-radius: 20px;
}
.textregistr{
   font-size: 20px; 
   color: #FFFAF0;
   text-align: center;
}
.inputregistr{
    background-color: #bebebe;
    width: 80%;
    margin: 6px 10%;
    border-radius: 10px;
}
.buttonregistr{
    background-color: #698864;
    border-radius: 15px;
    border: 2px solid #0d0d0d6e;
    color: #FFFAF0;
    transition: transform 0.2s ease-in-out; 
}
.buttonregistr:hover{
    background-color: #547050;
    transform: scale(1.1);
}
.where{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wheredop{
    display: inline-block;
    margin-left: 28%;
}
/*registrend*/



/*accauntstart*/
.bg{
    justify-content: center; 
    align-items: center;
    height: auto;
    max-width: 1200px;
    margin: 10px auto;
    padding-bottom: 30px;
    background-color: #7d4d10a1;
    border-radius: 20px;

}

.acaunttext{
    font-size: 30px;
    text-align: center;
}
.acaunttext{
    text-align: center;
}
.accauntstyle{
    background-color: #fdddb324; 
    border-radius: 20px; 
    border: 2px solid #0d0d0d5c; 
    max-width: 800px; 
    margin: 0 auto 20px;
}


/*basket start*/
.basketbg{
    max-width: 1400px;
    height: auto;
    margin: 15px auto;
    display: flex;
    border-radius: 20px;
}
.basketitem{
    background-color: #7d4d10a1;
    width: 800px;
    height: auto;
    margin: 15px auto 15px;
    padding: 20px;
    border-radius: 20px;
}
.basketbuy{
    background-color: #3a3b3df2;
    width: 500px;
    height: 260px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    top: 110px;
}
.basketimg{
    width: 160px;
    margin: 5px 5px;
}
.textitem{
    margin: 10px 20px;
    width: 330px;
    overflow-wrap: break-word;
}
.counter{
    width: 200px;
}
.counterbutton{
    background-color: white;
    border: none;
    border-radius: 20px;
}
.sentadress{
    font-size: 0px;
}
.selectField {
    display: none; /* Ховаємо поля за замовчуванням */
}
.borderitem{
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
}



/*items start*/
.items{
    background-color: #fdddb324; 
    border: 2px solid #0d0d0d5c; 
    width: 346px; height: 346px; 
    border-radius: 20px; 
    margin: 0 20px 20px;
    transition: transform 0.3s ease-in-out;
}
.items:hover{
    transform: scale(1.05);
}

.item{
    max-width: 1400px;
    margin: 10px auto;
}
.itembg{
    background-color: #7d4d10a1;
    height: auto;
    padding-bottom: 50px;
    border-radius: 20px;
}
.itemimg{
    width: 800px;
}
.itemtext{
    overflow-wrap: break-word;
    width: 1000px;
    margin: 0 auto;
}

.itembutton{
    margin-top: 140px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}
.reviews{
    width: 1000px;
    background-color: #fefefe;
    border-radius: 20px;
}
.question{
    width: 1000px;
    background-color: #fefefe;
    border-radius: 20px;
}
.info{
    width: 1000px;
    background-color: #fefefe;
    border-radius: 20px;
}
#visible1{
    display: flex;
}
#visible2{
    display: none;
}
#visible3{
    display: none;
}



/*admin*/
.adminbg{
    margin: 0 auto 30px;
    padding-bottom: 10px;
    max-width: 1200px;
    border-radius: 20px;
    background-color: #fdddb324;
    border: 2px solid #0d0d0d5c;
    
}
#visibleproducts{
    display: flex;
}
#visibleaddproducts{
    display: none;
}


.modal-row {
    display: none;
    background-color: #f9f9f9;
    text-align: center;
    border: 1px solid #ddd;
}
.modal-content {
    width: 100%;
    padding: 10px;
    background-color: rgb(113, 106, 106);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.order-items{
    padding: 20px;
    
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination a, .pagination span{
    background-color: #fad901;
    color: #000;
    padding: 10px;
}



.pagination span.disabled {
    background-color: #fad901f7; /* Світло-сірий для неактивних кнопок */
    cursor: not-allowed;
}

